@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  /* font-family: 'DM Serif Text', serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Core Sans C 65", sans-serif; */
  /* font-family: 'Cormorant Infant', serif; */
  background-image: linear-gradient(to bottom, #f4f6f5, #f4f6f5, #f3f5f4, #f3f5f4, #f2f4f3);
}

.header-block {
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
}

.footer-block {
  padding: 5px;
  text-align: center;
}

.fls {
  text-align: center;
  padding: 5px;
}

.main-container {
  padding: 10px;
  font-size: 18px;
  max-width: 1930px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.theory-block {
  margin-bottom: 150px;
}

.theory-block div {
  padding: 10px;
  text-align: justify;
  /* color: #f4f4f4; */
  outline: 1px solid rgb(184, 183, 183);
  background-color: #a8edca;
}

.theory-block div:not(:last-child) {
  margin-bottom: 25px;
}

.main-container .block1 {
  background-color: #ff000072;
}

.block2 {
  background-image: url(../img/p0.jpg);
}

.block3 {
  background-image: linear-gradient(180deg, rgba(187, 183, 185, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.block4 {
  background-image: url(../img/p0.jpg);
  background-repeat: no-repeat;
}

.block5 {
  background-image: url(../img/p0.jpg);
  background-repeat: repeat-x;
  height: 500px;
}

.block6 {
  background-image: url(../img/p0.jpg);
  background-repeat: repeat-y;
  height: 500px;
}

.block7 {
  background-image: url(../img/p0.jpg);
  height: 500px;
  background-repeat: no-repeat;
  /* background-position: 0-гор 0-вер; за замовчуванням */
  background-position: 50px 25px;
}

.block8 {
  background-image: url(../img/p0.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.block9 {
  background-image: url(../img/p0.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: left;
  /* теж саме що й left centr */
}

.block10 {
  background-image: url(../img/p0.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: 30% 90%;
  /* background-position: centr або 50% по центру */
}

.block11 {
  background-image: url(../img/p0.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  /* блокує скрол зображення, починається з вьюпорта */
}

.block12 {
  background-image: url(../img/p0.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: auto 200px;
  /* 0-гор 0-вер */
}

.block13 {
  background-image: url(../img/p0.jpg);
  height: 200px;
  background-repeat: no-repeat;
  background-size: 30% 85%;
}

.block14 {
  background-image: url(../img/p0.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-size: contain;
  /* зображення масштабується по меньшій стороні, для відображення повного зображення без обрізання, для карток товарів */
}

.block15 {
  background-image: url(../img/p0.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  /* зображення масштабується повністю на блок, обрізається, для фонів */
  background-position: bottom right;
}

/* ! унівесальна властивість */

.theory-block .block16 {
  height: 500px;
  color: white;
  background: #535453 url("../img/p0.jpg") top right / 200px 300px no-repeat;
  /* що за замовчуваняям не писати */
}

.theory-block .block17 {
  height: 250px;
  background: rgb(182, 185, 182) linear-gradient(25deg, #ff0000 0%, #2200ff 100%) center / 95% 30% no-repeat;
}

.block18 {
  height: 500px;
  background:
    /* вище за кодом - вище на бутерброді */
    url("../img/p0.jpg") 20% 70% / 200px repeat-x,
    url("../img/p1.jpg") 250px / 150px repeat-y,
    linear-gradient(25deg, #ff0000 0%, #2200ff 100%) center / 95% 75% no-repeat;
}

.list-item {
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 23px;
  padding-left: 35px;
  background: url("../img/li.svg") 0 3px no-repeat;
  /* 
	Надійність, якщо висота зображення 
	меньша за line-height
	*/
  min-height: 30px;
}

/* 1 plan page */

.plan-container {
  max-width: 742px;
  margin: 0 auto;
  padding: 0 69px;
  font-size: 18px;
  color: #7D7D7D;
  margin-bottom: 150px;
}

.plan-subtitle {
  color: #37393F;
  font-weight: 500;
  line-height: 1.22;
  padding-left: 18px;
  background: url("../img/point.png") 0 5px / 12px 12px no-repeat;
  min-height: 22px;
  margin-bottom: 16px;
}

.plan-title {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 21px;
}

.plan-text {
  line-height: 1.46;
  margin-bottom: 20px;
}

.plan-text p:not(:last-child) {
  margin-bottom: 15px;
}

.plan-goals {
  margin-bottom: 43px;
}

.plan-goal {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.65;
  padding-left: 35px;
  background: url("../img/li.svg") 0 4px / 27px 27px no-repeat;
  min-height: 35px;
}

.plan-experience-block {
  margin-bottom: 37px;
  font-size: 0;

  margin-bottom: 37px;
}

.experience-button {
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6B77E5;
  padding: 21px 27px;
}

.experience-item {
  display: inline-block;
  /* width: 50%; */
  padding: 33px;
  text-align: center;
  border: 1px solid #E3E3E3;
  height: 100%;
  vertical-align: middle;
}

.item1 {
  width: 292px;
  margin-right: 21px;

}

.item2 {
  width: 291px;
}

.experience-item-text {
  display: inline-block;
  padding-left: 58px;

}

.icon1 {
  background: url("../img/icon1.png") 0 0 / 39px 38px no-repeat;
}

.icon2 {
  background: url("../img/icon2.png") 0 0 / 39px 38px no-repeat;
}


.experience-item-text-title {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 3px;
}

.experience-item-text-text {
  font-size: 16px;
  line-height: 1.35;
}

/* 2 projects page */

.projects-container {
  max-width: 1220px;
  margin: 0 auto;
  font-size: 18px;
  color: #7D7D7D;
  margin-bottom: 150px;
}

.projects-about {
  margin-bottom: 47px;
}

.projects-decor-sub-subtitle {
  margin-bottom: 14px;
}

.projects-sub-subtitle {
  text-align: center;
  padding-left: 18px;
  line-height: 1.35;
  color: #37393F;
  font-size: 18px;
  font-weight: 500;
}

.projects-decor {
  display: inline-block;
  text-align: center;
  width: 12px;
  height: 12px;
  background: #40DDB6;
  margin-right: 6px;
}

.projects-subtitle {
  color: #37393F;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 1.21;
  margin-bottom: 14px;
}

.projects-text {
  color: #7D7D7D;
  font-size: 18px;
  line-height: 1.46;
}

/* .projects-cards {
} */

.projects-card-block-1 {
  margin-bottom: 58px;
  font-size: 0;
}

.projects-card-block-2 {
  font-size: 0;
}

.projects-card {
  display: inline-block;
  width: 384px;
}

.card-title {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
  padding-top: 525px;
  margin-bottom: 10px;
}

.card-date {
  color: #7D7D7D;
  font-size: 14px;
  line-height: 1.46;
  padding-left: 32px;
  background: url("../img/cart.png") 0 0 / 22px 22px no-repeat;
}

.card {
  display: inline-block;
}

.card:not(:last-child) {
  margin-right: 34px;
}

.image {
  margin-bottom: 24px;
  background-position: center;
}

.title {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 10px;
}

.date {
  color: #7D7D7D;
  font-size: 14px;
  line-height: 1.46;
}

/* 3 clothing page */

.clothing-container {
  margin: 0 auto;
  max-width: 1240px;
  font-size: 20px;
  color: #807D7E;
  font-family: "Causten", sans-serif;
  padding-left: 21px;
  margin-bottom: 150px;
}

.clothing-title {
  margin-left: -21px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  background: url("../img/vertline.png") 0 2px / 6px 28px no-repeat;
  font-family: "Core Sans C 65", sans-serif;
  color: #3C4242;
  padding-left: 21px;
  line-height: 1.2;
  letter-spacing: 0.56px;
  vertical-align: middle;
  font-size: 28px;
  font-weight: 600;
}

.clothing-subtitle {
  font-family: "Core Sans C 65", sans-serif;
  color: #807D7E;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}

.clothing-text {
  color: #807D7E;
  line-height: 1.67;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}

.clothing-text p:not(:last-child) {
  margin-bottom: 20px;
}

.euphoria-brand {
  color: #807D7E;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.4px;
}

.clothing-more {
  font-family: "Core Sans C 65", sans-serif;
  color: #807D7E;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  display: inline-block;
}

/* 4 fassion page */

.fashion {
  margin-bottom: 100px;
}

.container-fashion {
  max-width: 1240px;
  margin: 0 auto;
}

.fashion-body {
  background: url("../img/fashion1.png") top left / 50% 100% no-repeat,
    url("../img/fashion2.png") top right / 50% 100% no-repeat;
  padding: 183px 74px 140px;
}

.fashion-content {
  max-width: 466px;
}

.fashion__title {
  color: #FFF;
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.47;
  letter-spacing: 0.208px;
  text-transform: uppercase;
}

.fashion__text {
  color: #FFF;
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 30px 0 50px;
}

.fashion__link {
  display: inline-block;
  color: #3C4242;
  font-family: "Causten", sans-serif;
  font-weight: 600;
  padding: 12px 44px;
  background-color: #fff;
  border-radius: 8px;
}