@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  /* font-family: 'DM Serif Text', serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Core Sans C 65", sans-serif; */
  /* font-family: 'Cormorant Infant', serif; */
  background-image: linear-gradient(to bottom, #f4f6f5, #f4f6f5, #f3f5f4, #f3f5f4, #f2f4f3);
}

.header-block {
  margin-bottom: 150px;
}

.fls {
  display: block;
  text-align: center;
}

.container {
  padding: 10px;
  font-size: 18px;
}

/* ===============
2 licencing page
=================*/

.licencing-container {
  max-width: 1218px;
  margin: 0 auto;
}

.licencing-information {
  text-align: center;
  margin-bottom: 16px;
}

.information-icon {
  display: inline-block;
  background-color: #40DDB6;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.information-text {
  display: inline-block;
  color: #37393F;
  font-weight: 500;

}

.licencing-title {
  color: #37393F;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 70px;
}

.icons-container {
  margin-bottom: 100px;
}

.icons-subtitle {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 11px;
}

.icons-text {
  color: #7D7D7D;
  line-height: 1.46;
  margin-bottom: 32px;
}

/* .icons-subtitle-small {} */

.icons-subtitle-color1 {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}

.icons-subtitle-color2 {
  color: #40DDB6;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.photography-container {
  margin-bottom: 100px;
}

.photography-subtitle {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 11px;
}

.photography-text {
  color: #7D7D7D;
  line-height: 1.46;
  margin-bottom: 24px;
}

.photography-subtitle-small {
  margin-bottom: 8px;
}

.photography-subtitle-color1 {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}

.photography-subtitle-color2 {
  color: #40DDB6;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.photography-text-color {
  color: #40DDB6;
  line-height: 1.46;
  margin-bottom: 24px;
}

.fonts-container {
  margin-bottom: 150px;
}

.fonts-subtitle {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 11px;
}

.fonts-text {
  color: #7D7D7D;
  line-height: 1.46;
}

.fonts-text-color {
  color: #40DDB6;
  font-weight: 500;
}

/* ===============
2 Project page 
=================*/

.project-container {
  max-width: 830px;
  margin: 0 auto;
  color: #7D7D7D;
  margin-bottom: 150px;
}

.project-title {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.27;
  margin-bottom: 13px;
}

.project-text {
  line-height: 1.46;
  font-weight: 500;
}

.project-info {
  line-height: 1.46;
  margin-bottom: 35px;
}

.project-info p:not(:last-child) {
  margin-bottom: 35px;
}

.project-list {
  margin-bottom: 35px;
  padding-left: 16px;
}

.project-icon {
  display: inline-block;
  background-color: #7D7D7D;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
}

.project-number {
  margin-right: 5px;
}

/* ===============
3 clothing page 
=================*/

.clothing-container {
  margin: 0 auto;
  max-width: 1240px;
  font-size: 20px;
  color: #807D7E;
  font-family: "Causten", sans-serif;
  padding-left: 21px;
  margin-bottom: 150px;
}

.clothing-title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  margin-left: -21px;
}

.clothing-title-border {
  display: inline-block;
  background-color: #8A33FD;
  border-radius: 10px;
  width: 6px;
  height: 28px;
  margin-right: 15px;
}

.clothing-title-text {
  display: inline-block;
  font-family: "Core Sans C 65", sans-serif;
  color: #3C4242;
  line-height: 1.19;
  letter-spacing: 0.56px;
  vertical-align: top;
}

.clothing-subtitle {
  font-family: "Core Sans C 65", sans-serif;
  color: #807D7E;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}

.clothing-text {
  color: #807D7E;
  line-height: 1.67;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}

.clothing-text p:not(:last-child) {
  margin-bottom: 20px;
}

.euphoria-brand {
  color: #807D7E;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.4px;
}

.clothing-more {
  font-family: "Core Sans C 65", sans-serif;
  color: #807D7E;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  display: inline-block;
}

/* ===============
4 jewellery page 
=================*/

.jewellery-container {
  margin: 0 auto;
  max-width: 1103px;
  font-family: 'Cormorant Infant', serif;
}

.jewellery-about {
  display: inline-block;
  max-width: 50%;
  padding-right: 89px;
  vertical-align: middle;
}

.jewellery-information {
  color: #D58417;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.jewellery-title {
  color: #000;
  font-size: 64px;
  margin-bottom: 31px;
}

.jewellery-text {
  color: #606060;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
}

.jewellery-images {
  display: inline-block;
  max-width: 50%;
  font-size: 0;
  margin-bottom: 10px;
  vertical-align: middle;
  margin-bottom: 169px;
}

.jewellery-image-small {
  display: inline-block;
  max-width: 177px;
  margin-right: 30px;
  border-radius: 235px;
  vertical-align: middle;
  border: 1px solid #502203;
  padding-top: 14px;
}

.jewellery-image-big {
  display: inline-block;
  max-width: 307px;
  border-radius: 235px;
  vertical-align: middle;
  border: 1px solid #502203;
  padding-top: 19px;
}

.jewellery-img-small {
  width: 100%;
  margin-left: -10px;
  margin-bottom: -14px;
}

.jewellery-img-big {
  width: 100%;
  margin-left: -11px;
  margin-bottom: -19px;
}

/* ===============
practice
=================*/
.practice-container {
  margin: 0 auto;
  max-width: 1103px;
}

.practice-blok1,
.practice-blok2,
.practice-blok3,
.practice-blok4,
.practice-blok5,
.practice-blok6,
.practice-blok7,
.practice-blok8,
.practice-blok9,
.practice-blok10,
.practice-blok11 {
  margin-bottom: 30px;
}



.practice-blok1 {
  border: 5px solid #0065908d;
  border-bottom: 10px solid #000;
}

.practice-blok2 {
  border-bottom: 10px dotted #ff0000;
}

.practice-blok3 {
  outline: 10px solid rgb(0, 255, 0);
}

.practice-blok4 {
  border: 5px solid #0065908d;
  border-radius: 15px;
  opacity: 0.30;
}

.practice-blok5 {
  width: 100px;
  height: 100px;
  background-color: rgb(56, 0, 211);
  border-radius: 50%;
  box-shadow: 10px 15px 5px black;
}

.practice-blok6 {
  box-shadow: inset 0 0 15px 1px #97670d;
}

.practice-blok7 {
  visibility: hidden;
}

.practice-blok8 {
  display: none;
}

.practice-blok9 {
  opacity: 0.1
}

.practice-blok10 {
  width: 250px;
  height: 250px;
  background-color: hsla(219, 100%, 50%, 0.579);
  border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
  box-shadow: inset 0 0 55px 25px #022891;
}

.practice-blok11 {
  padding: 25px;
  border: 1px solid transparent;
  border-radius: 15px;
  background: transparent;
  box-shadow: 30px -30px 60px #666666,
    -30px 30px 60px #ffffff;
}