@use "sass:math";
@import "_functions.scss";

$mainColor: white;

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1220;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

body {
	font-family: "Inter", sans-serif;
	font-size: toRem(16);
	color: $mainColor;
}

[class*="__container"] {
	max-width: #{$containerWidth}px;
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
}

.wrapper {
	min-height: 100svh;
	overflow: clip;
	display: flex;
	flex-direction: column;
	// background-color: $bc;
	& > main {
		flex-grow: 1;
	}
	& > header {
		// flex-grow: 1;
	}

	& > footer {
		// flex-grow: 1;
	}
}
