@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  /* font-family: 'DM Serif Text', serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Core Sans C 65", sans-serif; */
  /* font-family: "Cormorant Infant", serif; */
  background-image: linear-gradient(to bottom, #f4f6f5, #f4f6f5, #f3f5f4, #f3f5f4, #f2f4f3);
}


.up {
  display: block;
  text-align: center;
  padding: 5px;
}
