*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
  width: 100%;
}

input {
  width: 100%;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C 55";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 65";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 75";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  min-height: 100svh;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.title {
  color: #3c4242;
  font-family: "Core Sans C 65", sans-serif;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
  height: 100%;
}
.title::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background-color: #8a33fd;
  margin-right: 20px;
  vertical-align: middle;
}
.title--margin {
  margin-bottom: 70px;
}
@media (max-width: 1023.98px) {
  .title--margin {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .title--margin {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
@media (max-width: 424.98px) {
  .title--margin {
    font-size: 24px;
  }
}
@media (max-width: 374.98px) {
  .title--margin {
    font-size: 22px;
  }
}

.link {
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.link:hover {
  color: #000000;
  background-color: #ffffff;
  color: #8a33fd;
  border: 1px solid #8a33fd;
}

.footer {
  background: #3c4242;
  color: #f6f6f6;
  font-family: "Causten";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.17;
}
@media (max-width: 767.98px) {
  .footer {
    line-height: 2;
  }
}
.footer__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 25px;
  padding: 60px 0 0 0;
  margin-bottom: 15px;
}
@media (max-width: 1023.98px) {
  .footer__info {
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0 0 0;
  }
}
@media (max-width: 767.98px) {
  .footer__info {
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 0 0 0;
    gap: 20px;
  }
}
@media (max-width: 424.98px) {
  .footer__info {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    text-align: center;
  }
}
.footer__title {
  font-size: 28.579px;
  font-style: normal;
  font-weight: 700;
}
.footer__item:hover {
  text-decoration: underline;
}
.footer__item:hover a {
  text-decoration: underline;
}
.footer__actions {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 15px 0;
}
@media (max-width: 424.98px) {
  .footer__actions {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    text-align: center;
    justify-items: center;
  }
}
.footer__column--socials {
  -ms-flex-item-align: end;
      align-self: end;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.footer__social a {
  max-width: 37px;
}
.footer__social a img {
  width: 100%;
  height: 100%;
  aspect-ratio: 37/37;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.footer__store {
  max-width: 154px;
}
.footer__store img {
  width: 100%;
  height: 100%;
  aspect-ratio: 154/52;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 35px 0;
  border-bottom: 1px solid rgba(190, 188, 189, 0.4745098039);
  border-top: 1px solid rgba(190, 188, 189, 0.4745098039);
}
@media (max-width: 767.98px) {
  .footer__details {
    padding: 20px 0;
  }
}
.footer__copyright {
  text-align: center;
  padding: 37px 0 60px 0;
}
@media (max-width: 767.98px) {
  .footer__copyright {
    padding: 20px 0;
  }
}