*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
  width: 100%;
}

input {
  width: 100%;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C 55";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 65";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 75";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  min-height: 100svh;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.title {
  color: #3c4242;
  font-family: "Core Sans C 65", sans-serif;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
  height: 100%;
}
.title::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background-color: #8a33fd;
  margin-right: 20px;
  vertical-align: middle;
}
.title--margin {
  margin-bottom: 70px;
}
@media (max-width: 1023.98px) {
  .title--margin {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .title--margin {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
@media (max-width: 424.98px) {
  .title--margin {
    font-size: 24px;
  }
}
@media (max-width: 374.98px) {
  .title--margin {
    font-size: 22px;
  }
}

.link {
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.link:hover {
  color: #000000;
  background-color: #ffffff;
  color: #8a33fd;
  border: 1px solid #8a33fd;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
  width: 100%;
}

input {
  width: 100%;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C 55";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 65";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C 75";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  min-height: 100svh;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.title {
  color: #3c4242;
  font-family: "Core Sans C 65", sans-serif;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
  height: 100%;
}
.title::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background-color: #8a33fd;
  margin-right: 20px;
  vertical-align: middle;
}
.title--margin {
  margin-bottom: 70px;
}
@media (max-width: 1023.98px) {
  .title--margin {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .title--margin {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
@media (max-width: 424.98px) {
  .title--margin {
    font-size: 24px;
  }
}
@media (max-width: 374.98px) {
  .title--margin {
    font-size: 22px;
  }
}

.link {
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.link:hover {
  color: #000000;
  background-color: #ffffff;
  color: #8a33fd;
  border: 1px solid #8a33fd;
}

.item--margin {
  margin-bottom: 100px;
}
@media (max-width: 1023.98px) {
  .item--margin {
    margin-bottom: 75px;
  }
}
@media (max-width: 767.98px) {
  .item--margin {
    margin-bottom: 60px;
  }
}
@media (max-width: 424.98px) {
  .item--margin {
    margin-bottom: 50px;
  }
}
@media (max-width: 374.98px) {
  .item--margin {
    margin-bottom: 50px;
  }
}
.item__title {
  color: #3c4242;
  font-family: "Core Sans C 65", sans-serif;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
  height: 100%;
}
.item__title::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background-color: #8a33fd;
  margin-right: 20px;
  vertical-align: middle;
}

.item-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 50px;
}
@media (max-width: 1023.98px) {
  .item-cards {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media (max-width: 424.98px) {
  .item-cards {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.item-card {
  font-family: "Causten", sans-serif;
}
.item-card:hover .item-card__body .item-card__items .item-card__title {
  text-decoration: underline;
}
.item-card__img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.item-card__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 270/393;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.item-card__img img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.item-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.item-card__items {
  overflow: hidden;
}
.item-card__title {
  color: #2a2f2f;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: -0.715px;
  margin-bottom: 10px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.item-card__link {
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: -0.536px;
}
.item-card {
  position: relative;
  font-family: "Causten", sans-serif;
}
.item-card__fav {
  position: absolute;
  top: 25px;
  right: 20px;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.item-card__fav:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.item-card__img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.item-card__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 270/393;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.item-card__img img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.item-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-card__items {
  overflow: hidden;
}
.item-card__title {
  color: #2a2f2f;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: -0.715px;
  margin-bottom: 10px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.item-card__title--limelight {
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
}
.item-card__link {
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: -0.536px;
}
.item-card__link--limelight {
  line-height: 1;
}
.item-card__arrow--price {
  color: #3c4242;
  font-family: "Causten";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 16px;
  border-radius: 8px;
  background: #f6f6f6;
}