@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  /* font-family: 'DM Serif Text', serif; */
  /* font-family: "Poppins", sans-serif; */
  background-image: linear-gradient(to bottom, #f4f6f5, #f4f6f5, #f3f5f4, #f3f5f4, #f2f4f3);
}

.fls {
  text-align: center;
}

.container {
  max-width: 1650px;
  margin: 10px auto;
  font-size: 18px;
}

/* Consulting */

.consulting-container {
  max-width: 692px;
  margin: 0 auto 50px;
}

.consultig-images {
    margin-bottom: 37px;
}

.consultig-image {
  width: 100%;
  max-width: 692px;

}

.consultig-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.27;
  color: #37393F;
  margin-bottom: 3px;
}

.consulting-text {
  color: #7D7D7D;
  line-height: 1.46;
  margin-bottom: 42px;
}

/* .consulting-benefits {} */

.benefits {
  color: #6B77E5;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 12px;
}

.benefits-container {
  max-width: 692px;
  font-size: 0;
}

.benefits-images {
  display: inline-block;
  max-width: 50%;
  padding-right: 30px;
}

.benefits-image {
  /* max-width: 330px; */
  width: 100%;
}

.benefits-consulting {
  display: inline-block;
  max-width: 50%;
  vertical-align: top;
}

.benefits-title {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 15px;
}

.benefits-subtitle {
  color: #40DDB6;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 21px;
}

/* .benefits-items {} */

.point {
  width: 18px;
  margin-right: 5px;
}

.benefits-item {
  color: #7D7D7D;
  margin-bottom: 30px;
  font-size: 18px;
}

/* Jewellery */

.jewellery-container {
  margin: 10px auto;
  max-width: 1170px;
}

.jewellery {
  display: inline-block;
  max-width: 50%;
  padding-right: 38px;
}

.jewellery-title {
  text-transform: uppercase;
  color: #D06B00;
  font-size: 28px;
  margin: 21px 0 13px;
}

.jewellery-subtitle {
  color: #0E333D;
  font-family: 'DM Serif Text', serif;
  font-size: 59px;
  line-height: 1.46;
  margin-bottom: 25px;
}

.jewellery-text {
  color: #474747;
  font-size: 20px;
  line-height: 1.8;

}

.jewellery-images {
  display: inline-block;
  max-width: 50%;
  font-size: 0;
  vertical-align: top;
}

.images-1 {
  display: inline-block;
  margin-right: 17px;
}

.images-2 {
  display: inline-block;
}

.jewellery-img {
  max-width: 273px;
  width: 100%;
}

/* lesson */

.lesson-block-1 {
  background-color: #6B77E5;
  padding: 10px 5px;
}

.lesson-block-2 {
  background-color: #c2a684;
  padding: 10px 5px 25px;
}

.lesson-block-3 {
  background-color: #6be590;
  margin: 15px 10px 5px 20px;
}

.lesson-block-4 {
  background-color: hsla(339, 70%, 66%, 0.542);
  margin: -10px -5px;
}

.lesson-block-5 {
  background-color: #d1e56b;
  padding: 5% 3%;
}

.lesson-block-6 {
  background-color: #71e56b;
  padding: 10px 5px;
}

.lesson-block-7 {
  background-color: #6B77E5;
  width: 50%;
  min-height: 30px;
}

.lesson-block-8 {
  background-color: #6bbee5;
  padding: 10px 5px;
  min-width: 700px;
  box-sizing: content-box;
  margin-top: -25px;
  margin-right: -50px;
}

.lesson-block-9 {
  background-color: #6be57d;
  max-height: 25px;
  overflow: hidden;
  margin-bottom: 15px;
}

.lesson-block-10 {
  background-color: #6b9ae5;
  overflow: scroll;
  max-width: 700px;
}

.lesson-block-11 {
  overflow: auto;
  max-height: 100px;
}

.lesson-block-12 {
  background-color: #e5d16b;

}

.lesson-block-13 {
  background-color: #e56bc2;
  /* display: none; */
}