@import "_reset.scss";
@import "_fonts.scss";
@import "_commons.scss";

// @media (max-width: $laptopL) {
// }

// @media (max-width: $laptop) {
// }

// @media (max-width: $tablet) {
// }

// @media (max-width: $mobileL) {
// }

// @media (max-width: $mobileM) {
// }

.deals {
	padding-top: 10px;
}

.deals__container {
}

.deals__items {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	gap: 30px;
	grid-template-areas:
		"item-deals--1 item-deals--2"
		"item-deals--3 item-deals--4";
	/* "item-deals--5 item-deals--6"
    "item-deals--7 item-deals--8"
    "item-deals--9 item-deals--10"; */
}

.item-deals--1 {
	grid-area: item-deals--1;
}

.item-deals--2 {
	grid-area: item-deals--2;
}

.item-deals--3 {
	grid-area: item-deals--3;
}

.item-deals--4 {
	grid-area: item-deals--4;
}

.item-deals--5 {
	grid-area: item-deals--5;
}

.item-deals--6 {
	grid-area: item-deals--6;
}

.item-deals--7 {
	grid-area: item-deals--7;
}

.item-deals--8 {
	grid-area: item-deals--8;
}

.item-deals--9 {
	grid-area: item-deals--9;
}

.item-deals--10 {
	grid-area: item-deals--10;
}

@media (max-width: 768px) {
	.deals__items {
		grid-template: repeat(1, 1fr) / repeat(1, 1fr);
		grid-template-areas:
			"item-deals--1"
			"item-deals--2"
			"item-deals--3"
			"item-deals--4";
		/* "item-deals--5"
      "item-deals--6"
      "item-deals--7"
      "item-deals--8"
      "item-deals--9"
      "item-deals--10"; */
	}
}

.deals__item {
	height: 100%;
	width: 100%;
	border-radius: 12px;
}

.item-deals {
	position: relative;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
	min-height: 355px;
}

.item-deals__body {
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

.item-deals__img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 12px;
	width: 100%;
	height: 100%;
	aspect-ratio: 605 / 355;
}

.item-deals__img img {
	height: 100%;
	width: 100%;
	aspect-ratio: 605 / 355;
	object-fit: cover;
	/* object-position: top; */
	border-radius: 12px;
}

.item-deals__content {
	padding: 5% 50% 5% 5%;
	height: 100%;
}

.item-deals__content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
	gap: 15px;
}

.item-deals__subtitle {
	color: #fff;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 800;
	line-height: 1.67;
	letter-spacing: 0.251px;
}

.item-deals__title {
	color: #fff;
	font-family: "Core Sans C 75", sans-serif;
	font-size: 34px;
	font-weight: 800;
	line-height: 1.33;
}

.item-deals__text p {
	color: #fff;
	font-family: "Core Sans C 55";
	font-weight: 500;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.56;
	letter-spacing: 0.251px;
}

.item-deals__link {
	color: #fff;
	font-family: "Core Sans C 75", sans-serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.5;
}

.item-deals:hover .item-deals__body .item-deals__content .item-deals__link {
	text-decoration-line: underline;
}

@media (max-width: 1023.98px) {
	.deals__items {
		gap: 15px;
	}

	.item-deals__content {
		padding: 5% 5% 5% 5%;
		height: 100%;
		background-color: #00000038;
	}

	.item-deals__subtitle {
		font-size: 16px;
		font-weight: 800;
	}

	.item-deals__title {
		font-size: 28px;
		font-weight: 800;
	}

	.item-deals__text p {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.3;
	}

	.item-deals__link {
		font-size: 18px;
		font-weight: 800;
	}
}

@media (max-width: 425.98px) {
	.deals__container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 374.98px) {
	.item-deals__subtitle {
		font-size: 16px;
		font-weight: 800;
		line-height: 1;
	}

	.item-deals__title {
		font-size: 20px;
		font-weight: 800;
		line-height: 1;
	}

	.item-deals__text p {
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
	}

	.item-deals__link {
		font-size: 18px;
		font-weight: 800;
		line-height: 1;
	}
}

[class*="--margin"] {
	margin-bottom: 70px;
}

@media (max-width: 767.98px) {
	[class*="--margin"] {
		margin-bottom: 50px;
	}
}

@media (max-width: 424.98px) {
	[class*="--margin"] {
		margin-bottom: 20px;
	}
}
