@import "_reset.scss";
@import "_fonts.scss";
@import "_commons.scss";
// @import "_mixins.scss";
// @import "_functions.scss";

.header {
	// .header__container

	&__container {
		padding: 32px 15px;
		display: flex;
		column-gap: 20px;
		row-gap: 10px;
		justify-content: space-between;
		align-items: center;
		font-family: "Causten";

		@media (max-width: $tablet) {
			flex-direction: column;
			padding: 15px;
		}

		@media (max-width: $mobileL) {
		}
	}

	// .header__logo

	&__logo {
		max-width: 95px;
	}

	&__img {
		flex: 0 0;
	}

	// .header__menu

	&__menu {
		flex: 1 1;
	}

	// .header__search

	&__search {
		display: flex;
		padding: 12px 20px;
		gap: 12px;
		border-radius: 8px;
		background: #f6f6f6;
		flex: 1 1;
		max-width: 267px;

		& input {
			background: #f6f6f6;
		}
	}

	// .header__actions

	&__actions {
	}
}
.menu {
	// .menu__body

	&__body {
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 10px;
		justify-content: space-between;

		@media (max-width: $laptop) {
			column-gap: 15px;
		}

		@media (max-width: $tablet) {
			// flex-direction: column;
			// justify-content: center;
		}

		@media (max-width: $mobileL) {
		}
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		color: #807d7e;
		font-size: 22px;
		line-height: 1.3;
		font-weight: 500;

		&--mark {
			color: #3c4242;
			font-weight: 700;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
.search {
	// .search__img

	min-width: 150px;

	&__body {
		line-height: 1.3;
	}
}
.actions {
	// .actions__link
	display: flex;
	row-gap: 10px;
	justify-content: center;
	column-gap: 15px;

	@media (max-width: $laptop) {
	}

	@media (max-width: $tablet) {
	}

	@media (max-width: $mobileL) {
	}

	&__link {
		padding: 12px;
		border-radius: 8px;
		background: #f6f6f6;
		transition: 0.3s ease;

		&:hover {
			background: #cccccc;
			transform: scale(1.05);
		}

		@media (max-width: $mobileL) {
		}
	}
}
