.slider {
	// .slider__body

	&__body {
	}

	// .slider__category

	&__category {
	}

	// .slider__title

	&__title {
	}

	// .slider__description

	&__description {
	}

	// .slider__link

	&__link {
	}

	// .slider__img

	&__img {
		& img {
			width: 100%;
			height: 100%;
			aspect-ratio: 1449 / 716;
			object-fit: cover;
		}
	}
}
