@use "sass:math";
@import "_reset.scss";
@import "_fonts.scss";
@import "_commons.scss";
@import "_mixins.scss";
@import "_functions.scss";

body {
}

header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background: #fff;
}

.slider--margin {
	margin-bottom: 130px;

	@media (max-width: $laptop) {
		margin-bottom: 0;
	}

	@media (max-width: $tablet) {
		margin-bottom: 65px;
	}

	@media (max-width: 635px) {
		margin-bottom: 25px;
	}

	@media (max-width: $mobileL) {
		margin-bottom: 10px;
	}

	@media (max-width: $mobileM) {
		margin-bottom: 10px;
	}
}

.deals--margin {
	margin-bottom: 150px;

	@media (max-width: $laptop) {
		margin-bottom: 60px;
	}

	@media (max-width: $tablet) {
		margin-bottom: 60px;
	}

	@media (max-width: $mobileL) {
		margin-bottom: 30px;
	}

	@media (max-width: $mobileM) {
		margin-bottom: 20px;
	}
}

// ------------
