@import "_reset.scss";
@import "_fonts.scss";
@import "_common.scss";
@import "_mixin.scss";

body {
}

.up,
.footer-links {
	text-align: center;
}

.up:not(:last-child) {
	margin-right: 15px;
}

.header {
	padding: 20px;
	margin: 0 auto;

	&--fix {
		margin-bottom: 20px;
	}
}

.footer {
	padding: 20px;
	margin: 0 auto;
}

// ------------
