@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:regular,500,600,700,italic,500italic,600italic,700italic&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
  width: 100%;
}

input {
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  color: #7d7d7d;
}

[class*=__container] {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.wrapper {
  min-height: 100svh;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn {
  padding: 21px 35px 22px 35px;
  background-color: #6b78e5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 194px;
          flex: 0 0 194px;
  max-height: 65px;
  color: #fff;
  font-family: "Cabin";
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  border: 1px solid #6b78e5;
  background-color: transparent;
  color: #6b78e5;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #fff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}
@media (max-width: 89.99875em) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/39;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 89.99875em) {
  .header__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu-level-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.menu-level-1 :hover .menu-level-2 {
  visibility: visible;
}
.menu-level-1 :hover .menu-level-1__link {
  text-decoration: underline;
}
.menu-level-1__item {
  position: relative;
}
.menu-level-2 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 9.375rem;
  padding-top: 1px;
  visibility: hidden;
}
.menu-level-2__item {
  position: relative;
  width: 9.375rem;
}
.menu-level-2__link:hover {
  text-decoration: underline;
}