@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:regular,500,600,700,italic,500italic,600italic,700italic&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
  width: 100%;
}

input {
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  color: #7d7d7d;
}

[class*=__container] {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.wrapper {
  min-height: 100svh;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn {
  padding: 21px 35px 22px 35px;
  background-color: #6b78e5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 194px;
          flex: 0 0 194px;
  max-height: 65px;
  color: #fff;
  font-family: "Cabin";
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  border: 1px solid #6b78e5;
  background-color: transparent;
  color: #6b78e5;
}

main {
  position: relative;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #fff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}
@media (max-width: 89.99875em) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/39;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 89.99875em) {
  .header__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu-level-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.menu-level-1 :hover .menu-level-2 {
  visibility: visible;
}
.menu-level-1 :hover .menu-level-1__link {
  text-decoration: underline;
}
.menu-level-1__item {
  position: relative;
}
.menu-level-2 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 9.375rem;
  padding-top: 1px;
  visibility: hidden;
}
.menu-level-2__item {
  position: relative;
  width: 9.375rem;
}
.menu-level-2__link:hover {
  text-decoration: underline;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #fff;
  height: 100svh;
  max-height: 828px;
}
.slider__container {
  height: 100%;
  max-width: 1980px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 43.125%;
  margin: 0;
  padding: 0.3125rem;
  color: #fff;
  background-color: rgba(55, 57, 63, 0.91);
}
@media (max-width: 89.99875em) {
  .slider__body {
    width: 100%;
    background-color: rgba(55, 57, 63, 0.65);
    text-align: center;
  }
}
.slider__content {
  width: 64%;
}
@media (max-width: 89.99875em) {
  .slider__content {
    width: 100%;
  }
}
.slider__subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.46;
  margin-bottom: 0.5555555556em;
}
@media (max-width: 63.99875em) {
  .slider__subtitle {
    font-size: 1rem;
  }
}
.slider__title {
  font-family: "Poppins";
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.3333333333em;
}
@media (max-width: 63.99875em) {
  .slider__title {
    font-size: 3.375rem;
  }
}
@media (max-width: 47.99875em) {
  .slider__title {
    font-size: 2.75rem;
  }
}
@media (max-width: 26.56125em) {
  .slider__title {
    font-size: 2.25rem;
  }
}
.slider__color {
  color: #40ddb6;
}
.slider__text {
  font-size: 1.125rem;
  margin-bottom: 1.9444444444em;
}
.slider__text p :not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .slider__text {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 26.56125em) {
  .slider__text {
    margin-bottom: 0.625rem;
  }
}
.slider__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 89.99875em) {
  .slider__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slider__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.slider__img img {
  aspect-ratio: 1920/828;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  -o-object-position: top;
     object-position: top;
  top: 0;
  left: 0;
  z-index: 1;
}